html {
  text-align: center;
}


h1  {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: White;
}


h2  {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}


h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}


#h3  {
  background-image: url(/Users/MikeyKay/projects/broadway/resources/images/the-flatiron-building.png);
  background-position: center;
  color: white;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}


.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: White;
  background-color: dimgray;
  list-style: none;
}


.footer li {
  display: inline;
}


footer  {
  text-align: left;
}


#landing  {
  background-image:
  url("/Users/MikeyKay/projects/broadway/resources/images/the-flatiron-building.png");
  background-position: center;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.menu  {
  list-style: none;
}

.menu li {
  margin: 1em 0;
}
